:root {
  --gutters: #ebe7e5;
  --comment: #555c77;
  --linenumbers: #3e4d67;
  --border: #6b84b0;
  --background-primary: #131419;
  --background-secondary: #313343;
  --color-primary: #809ac6;
  --color-secondary: #42c6ff;
  --color-thirdly: #f8f8f0;
  --color-fourtly: #75ff91;
  --color-fiftly: #2eff85;
  --gutters-border: 1px solid transparent;
  --border-width: 1px;
  --error: #e93838;
  --warning: #ffed2b;
  --success: #6de46d;
  --icons: #cae5f2;
  --progress: #42c6ff;
  --def: #7e7edd;
  --dec: #42c6ff;
  --classname: #5a9bf0;
  --control: #7e7edd;
  --property: #eaebed;
  --atom: #f14590;
  --number: #dda2f6;
  --string: #9aefea;
  --tag: #9092de;
  --unit: #dda2f6;
  --color: #93ddfb;
  --var: #85b1e0;
  --keyword: #7e7edd;
  /* --keyword: #d976ef; */
  --self: #5a9bf0;
  --separator: #a4b1dd;
  --special: #f5faff;
  --operator: #80bdc6;
  --type: #a571f4;
  --bracket: #ffc32b;
  --meta: #4f73f6;
  --regexp: #93ddfb;
  --font-family: 'Fantastic';
  --drone1: #833783;
  --drone2: orchid;
  --drone3: pink;
  --drone4: #2a2c2e;
  --hover: #ec8bd6;
}

text,
input,
button,
textarea {
  font-family: var(--font-family);
  font-size: 12pt;
}

@font-face {
  font-family: 'Fantastic';
  src: url(./assets//fonts/FantasqueSansMono-Regular.ttf) format('truetype');
  font-display: swap;
}
body {
  background-color: var(--background-primary);
  margin: 0;
  height: 100vh;
}
#console:focus {
  color: var(--icons);
  background-color: var(--background-primary);
}
#console {
  outline: none;
  border: none;
  resize: none;
  padding-left: 50px;
  height: 50px;
  /* margin-left: 50px; */
  position: fixed;
  /* pointer-events: none; */
  bottom: 0;
}

.success_line,
.error_line,
.info_line,
.warn_line {
  position: absolute;
  resize: vertical;
  width: 98%;
  z-index: 5;
  font-family: var(--font-family);
  font-style: normal;
  letter-spacing: -0.05em;
  background-color: var(--background-primary);
  /* visibility: hidden; */
  padding: 5px;
  padding-inline-start: 10px;
}
.error_line {
  /* border: var(--border-width) solid #ff275d; */
  color: #ff275d;
}
.info_line {
  border: var(--border-width) solid var(--comment);
  color: var(--icons);
}

#editor-container {
  z-index: 1;
}
@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.svgIcon:active {
  transform: scale(1.2);
}
/* .executeButton:active {
  transform: translateX(5px);
} */
.svgIcon:hover {
  color: var(--hover);
  fill: var(--hover);
  stroke: var(--hover);
}

.svgIcon {
  color: var(--icons);
  fill: var(--icons);
  stroke: var(--icons);
}
#header {
  right: 0px;
  bottom: 10px;
  height: 50px;
  border: none;
  padding-left: 10px;
  width: 130px;
  border-left: 1px solid var(--border);
  /* height: 30px;
  min-width: 300px;
  max-width: 400px; */

  display: flex;
  align-items: center;

  background-color: var(--background-primary);
  /* border-bottom: solid var(--border-width) var(--comment); */
  position: fixed;
  z-index: 1000;
}
.droneIcon,
#drone {
  cursor: pointer;
  bottom: 0px;
  left: 5px;
  text-align: center;
  padding: 0px;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
}
.droneIcon {
  bottom: 50px;
  left: 0px;
  visibility: hidden;
}

#exit-full {
  cursor: zoom-out;
  opacity: 0;
  top: 0px;
  right: 0px;
  text-align: center;
  padding: 5px;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
  display: none;
}
#exit-full:hover {
  opacity: 1;
}
.cm-editor {
  border: none;
  border-bottom: 1px solid var(--border);
}

/* #run,
#drone,
#add-button,
#featured,
#key {
  cursor: pointer;
  background: transparent;
  border: none;
} */
/* .header-button:first-child {
  fill: var(--color-fourtly);
  stroke: var(--color-fourtly);
} */
.header-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

input {
  font-weight: 900;
  background-color: transparent;
  border: var(--border-width) solid var(--comment);
  color: var(--icons);
  margin: 5px;
  padding: 8px;
}
input:focus {
  background-color: var(--icons);
  color: var(--background-primary);
}
@keyframes fadeInOpacity {
  0% {
    width: 15%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 15%;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-6px);
  }
  100% {
    transform: translatey(0px);
  }
}

.cm-completionLabel,
.cm-completionMatchedText,
.cm-completionDetail {
  font-family: var(--font-family);
}

.cm-searchMatch {
  background-color: #686971be !important;
}
.cm-searchMatch-selected {
  background-color: #de61b08e !important;
}
.float {
  animation: float 2s ease-in-out infinite;
}
.shake {
  animation: shake-animation 3.52s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  91.78571% {
    transform: translate(5px, 0);
  }
  93.57143% {
    transform: translate(0, 0);
  }
  95.35714% {
    transform: translate(5px, 0);
  }
  97.14286% {
    transform: translate(0, 0);
  }
  98.92857% {
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
